<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="PhoneBookTests">
    <test name ="PhoneBookRestAsssured">

        <classes>
            <class name="restassured.LoginTest">
                <methods>
                    <include name="loginPositive"/>
                    <include name="loginNegative"/>

                </methods>
            </class>
        </classes>
    </test>

</suite>